section {
    padding: 30px 0;
  }
  .buffer {
    width: 2vw;
    height: 15vh;
    margin: 3rem 0;
  }
  hr {
    visibility: hidden;
  }
  .bgc-1 {
    background-color: #594442;
  }
  .bgc-2 {
    background-color: #594442;
  }
  .bgc-3 {
    background-color: #F2D1C9;
  }
  .bgc-4 {
    background-color: #A68C8A;
  }
  a {
    color:rgb(255, 255, 255);
    text-decoration: none;
  }
  .btn.bgc-2.m-1 {
    color:white;
    border: 1px solid white;
  }
  #profile{
    color:white;
  }
.display-2.fw-bold{
  font-family: "Playwrite DE SAS", cursive; 
  
}
.btn.btn-lg.bgc-2.mt-3 {
  color:white;
}
.btn.btn-lg.bgc-2.mt-3:hover {
  text-shadow: 1px 1px 2px #594442;
}
#youtubeLink a {
  color: #594442;
  text-decoration: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; /* remove default icon */
}

.carousel-control-prev::after {
  content: '<'; 
  font-size: 2rem;
  text-shadow:  1px 1px 2px#000000;
  color: rgb(255, 255, 255);
}

.carousel-control-next::after {
  content: '>';
  font-size: 2rem;
  text-shadow:  1px 1px 2px#000000;
  color: rgb(255, 255, 255);
}
